.document_search{
    width: 150px;
    height: 50px;
}

.main_button{
    margin-top: 40px;
    width: 150px;
    height: 50px;
}

.ex_to_rt_status{
    color:blue;
    font-weight: bold;
}

.normal_status {
    color:#676e8a;
    font-weight: bold;
}

.cancel_status {
    color:red;
    font-weight: bold;
}

.complete_status {
    color:green;
    font-weight: bold;
}

.exchange_deducted {
    color:orange;
    font-weight: bold;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
  }

.font_black_color{
    color: black !important;
}

.selected{
    background: #5195cc;
}
.change_status {
    color:#cc3300;
    font-weight: bold;
}

#brand.select2-container {
    border-radius: 10px;
}


/* Start custom switch */
.custom-switch {
    display: flex;
    align-items: center; /* Vertically aligns the switch and text */
}

/* The checkbox input itself, hidden from view */
.custom-switch-input {
    display: none; /* Hide the original checkbox */
}

/* The visual part of the switch */
.custom-switch-label {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #ccc; /* Light gray background */
    border-radius: 24px; /* Make the background rounded */
    cursor: pointer;
    transition: background-color 0.4s ease; /* Smooth transition on toggle */
}

/* The circle (slider) that moves on the switch */
.custom-switch-label::before {
    content: ""; /* Empty content to create the slider */
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white; /* White slider */
    bottom: 2px;
    left: 2px;
    transition: transform 0.4s ease; /* Smooth sliding effect */
}

/* Change background and slider position when checked */
.custom-switch-input:checked + .custom-switch-label {
    background-color: #4caf50; /* Background turns green when toggled on */
}

.custom-switch-input:checked + .custom-switch-label::before {
    transform: translateX(26px); /* Move the slider to the right */
}

/* Optional label text next to the switch */
.switch-label {
    margin-left: 10px; /* Space between switch and label */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* End custom switch */



/* Start Preview Image */
.gallery{
    min-width: 200px;
    height: auto;
    background-color: #eee;
    color: #aaa;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align: center;
    padding: 10px;

}
.gallery img,.redemptiontransactionfiles img,.installercardfiles img{
    width: 100px;
    height: 100px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    object-fit: cover;

    padding: 5px;
    margin: 0 5px;
}
.removetxt span{
    display: none;
}



/* End Preview Image */


/* Start Criteria */

.container-box {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.header-bar {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
.custables thead ,.table_headers{
    background-color: #007bff;
    color: white;
}
.custom-input,.custom-input-lg{
    width: 40px;
    min-height: 30px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;

    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* .custom-input-lg{
    width: 100%;
    text-align: left;
    border: none;
    border-bottom:  1px solid #eee;
    padding: 8px;
    border-radius: 0px;
    box-sizing: border-box;
} */

.custom-input-lg {
    width: 100%;
    /* min-height: 40px; */
    /* max-height: 100px; */
    height: 30px;
    resize: none;
    overflow-y: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
}
.custables{
    table-layout: fixed;
}
.cells{
    padding: 0 !important;
}

.appraisal_headers th{
    padding: 4px 12px;
}
.add_btn,.new_btn,.apply_btn,.fill_btn{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #007bff;
    color: white;
}
.add_btn:hover,.new_btn:hover,.apply_btn:hover,.fill_btn:hover{
    color: white;
}
/* End Criteria */

.custables th:nth-child(2),
.custables td:nth-child(2) {
    width: 40%;
}

.custables th:nth-child(1),
.custables th:nth-child(8),
.custables th:nth-child(9){
    width: 5%;
}

.fixedtxtareas{
    resize: none;
}




 /* Start Accordion */
 .accordion{
    width: 100%;
    }
    .acctitle{
    font-size: 13px;
    user-select: none;

    padding: 5px;
    margin: 0;

    cursor: pointer;

    user-select: none;

    position: relative;
    }
    .acctitle::after{
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';

    /* position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); */

    float: right;
    }
    /* .active.acctitle::after{
    content: '\f068';
    } */
    .shown::after{
    content: '\f2B6';
    }
    .acccontent{
    height: 0;
    background-color: #f4f4f4;
    text-align: justify;

    padding: 0 10px;

    overflow: hidden;

    transition: height 0.3s ease-in-out;
    }
/* End Accordion */


/* Start Tag Box */
.nav{
display: flex;

padding: 0;
margin: 0;
}
.nav .nav-item{
list-style-type: none;
}
.nav .tablinks{
background-color: #0066cc;

border: none;
border-right: 2px solid orange;
color: white;
font-size: 16px;
padding: 15px 20px;
cursor: pointer;
transition: background-color 0.3s ease-in;
}
.nav .tablinks:hover{
background-color: #f3f3f3;
}

.nav .tablinks.active{
    background-color: #007bff;
    color: orange;
}

.tab-pane{

padding: 5px 15px;

display: none;
}
.tab-title{
    background-color: #007bff;
    padding: 5px;
    text-align: center;
    color: white;
}
/* End Tag Box */
#treeview {
    max-height: 600px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd; /* Optional: Adds a border for better visibility */
    padding: 5px; /* Optional: Adds some spacing */
}

/*  Start User List Filter */
.header .search{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 50px;
    color: #fff;
    /* default 14px */
    font-size: 15px;
    padding: 10px 15px;
}
.header .search:focus{
    outline: 0;
}
.user-list,.assessor-list{
    list-style: none;
    background-color: #fff;

    max-height: 500px;

    margin: 0;
    padding: 0;

    /* adding scrollY */
    overflow-y: auto;
}
.user-list li,.assessor-list li{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}
.user-list li.active,.assessor-list li.active{
   background-color: #007bff;
   color: white;
}
.user-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.user-list .user-info,.assessor-list .assessor-info{
    margin-left: 10px;
}
.user-list .user-info h4,.assessor-list .assessor-info h4{
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
}
.user-list .user-info p,.assessor-list .assessor-info p{
    font-size: 12px;
}
.user-list li:not(:last-of-type), .assessor-list li:not(:last-of-type){
        border-bottom: 1px solid #eee;
}

.user-list li.hide, .assessor-list li.hide{
    display: none;
}

/* End User List Filter */

.peertopeers_headers{
    background: #0066cc !important;
}


.wrapped_assformcats .selectize-control .selectize-input {
    white-space: normal !important; /* Allow text wrapping */
    overflow: visible !important; /* Ensure overflow is shown */
    text-overflow: unset !important; /* Prevent text from being shortened */
    word-break: break-word !important; /* Ensure long words wrap */
    min-height: 40px !important; /* Adjust height dynamically */
}

.wrapped_assformcats .selectize-control .selectize-input > div {
    white-space: normal !important; /* Allow wrapping inside selected items */
    overflow: visible !important;
    word-break: break-word !important;
}

.wrapped_assformcats .selectize-dropdown {
    width: auto !important; /* Allow dynamic width */
    min-width: 200px !important; /* Adjust width as needed */
    max-width: 100% !important;
    word-break: break-word !important;
    white-space: normal !important;
}


/* Start Progress */
#progresses{
    width: 50px;
    height: 50px;
    /* background: steelblue; */
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    /* position: fixed;
    right: 20px;
    bottom: 20px; */

    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-items: center;
}
#progressvalues{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #fff;
    border-radius: 50%;
    font-weight: bold;

    display: grid;
    place-items: center;
}

/* End Progress */
