.document_search{
    width: 150px;
    height: 50px;
}

.main_button{
    margin-top: 40px;
    width: 150px;
    height: 50px;
}

.ex_to_rt_status{
    color:blue;
    font-weight: bold;
}

.normal_status {
    color:#676e8a;
    font-weight: bold;
}

.cancel_status {
    color:red;
    font-weight: bold;
}

.complete_status {
    color:green;
    font-weight: bold;
}

.exchange_deducted {
    color:orange;
    font-weight: bold;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
  }

.font_black_color{
    color: black !important;
}

.selected{
    background: #5195cc;
}
.change_status {
    color:#cc3300;
    font-weight: bold;
}

#brand.select2-container {
    border-radius: 10px;
}


/* Start custom switch */
.custom-switch {
    display: flex;
    align-items: center; /* Vertically aligns the switch and text */
}

/* The checkbox input itself, hidden from view */
.custom-switch-input {
    display: none; /* Hide the original checkbox */
}

/* The visual part of the switch */
.custom-switch-label {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #ccc; /* Light gray background */
    border-radius: 24px; /* Make the background rounded */
    cursor: pointer;
    transition: background-color 0.4s ease; /* Smooth transition on toggle */
}

/* The circle (slider) that moves on the switch */
.custom-switch-label::before {
    content: ""; /* Empty content to create the slider */
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white; /* White slider */
    bottom: 2px;
    left: 2px;
    transition: transform 0.4s ease; /* Smooth sliding effect */
}

/* Change background and slider position when checked */
.custom-switch-input:checked + .custom-switch-label {
    background-color: #4caf50; /* Background turns green when toggled on */
}

.custom-switch-input:checked + .custom-switch-label::before {
    transform: translateX(26px); /* Move the slider to the right */
}

/* Optional label text next to the switch */
.switch-label {
    margin-left: 10px; /* Space between switch and label */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* End custom switch */



/* Start Preview Image */
.gallery{
    min-width: 200px;
    height: auto;
    background-color: #eee;
    color: #aaa;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align: center;
    padding: 10px;

}
.gallery img,.redemptiontransactionfiles img,.installercardfiles img{
    width: 100px;
    height: 100px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    object-fit: cover;

    padding: 5px;
    margin: 0 5px;
}
.removetxt span{
    display: none;
}



/* End Preview Image */
